<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>rznews</display-name>
  <servlet>
    <servlet-name>newsadd</servlet-name>
    <servlet-class>com.rz.newsadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsadd</servlet-name>
    <url-pattern>/admin/newsadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>roomslist</servlet-name>
    <servlet-class>com.rz.roomslist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>roomslist</servlet-name>
    <url-pattern>/admin/roomslist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>roomsedit</servlet-name>
    <servlet-class>com.rz.roomsedit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>roomsedit</servlet-name>
    <url-pattern>/admin/roomsedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>roomsdelete</servlet-name>
    <servlet-class>com.rz.roomsdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>roomsdelete</servlet-name>
    <url-pattern>/admin/roomsdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>customerslist</servlet-name>
    <servlet-class>com.rz.customerslist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerslist</servlet-name>
    <url-pattern>/admin/customerslist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>customersedit</servlet-name>
    <servlet-class>com.rz.customersedit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customersedit</servlet-name>
    <url-pattern>/admin/customersedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>customerdelete</servlet-name>
    <servlet-class>com.rz.customerdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerdelete</servlet-name>
    <url-pattern>/admin/customerdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>recommend</servlet-name>
    <servlet-class>com.rz.recommend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recommend</servlet-name>
    <url-pattern>/admin/recommend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newsedit</servlet-name>
    <servlet-class>com.rz.newsedit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsedit</servlet-name>
    <url-pattern>/admin/newsedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.rz.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginone</servlet-name>
    <servlet-class>com.rz.loginone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginone</servlet-name>
    <url-pattern>/admin/loginone</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newsdelete</servlet-name>
    <servlet-class>com.rz.newsdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsdelete</servlet-name>
    <url-pattern>/admin/newsdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newslist</servlet-name>
    <servlet-class>com.rz.newslist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newslist</servlet-name>
    <url-pattern>/admin/newslist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newschecklist</servlet-name>
    <servlet-class>com.rz.newschecklist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newschecklist</servlet-name>
    <url-pattern>/admin/newschecklist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checknewslist</servlet-name>
    <servlet-class>com.rz.checknewslist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checknewslist</servlet-name>
    <url-pattern>/admin/checknewslist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>zhuce</servlet-name>
    <servlet-class>com.rz.zhuce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zhuce</servlet-name>
    <url-pattern>/admin/zhuce</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userslist</servlet-name>
    <servlet-class>com.rz.userslist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userslist</servlet-name>
    <url-pattern>/admin/userslist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usersedit</servlet-name>
    <servlet-class>com.rz.usersedit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersedit</servlet-name>
    <url-pattern>/admin/usersedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usersdelete</servlet-name>
    <servlet-class>com.rz.usersdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersdelete</servlet-name>
    <url-pattern>/admin/usersdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userspager</servlet-name>
    <servlet-class>com.rz.userspager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userspager</servlet-name>
    <url-pattern>/admin/userspager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uinewsitem</servlet-name>
    <servlet-class>com.rz.uinewsitem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uinewsitem</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uinewslist</servlet-name>
    <servlet-class>com.rz.uinewslist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uinewslist</servlet-name>
    <url-pattern>/showlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uinewsview</servlet-name>
    <servlet-class>com.rz.uinewsview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uinewsview</servlet-name>
    <url-pattern>/newsview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadHandleServlet</servlet-name>
    <servlet-class>com.rz.UploadHandleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHandleServlet</servlet-name>
    <url-pattern>/admin/UploadHandleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>assesslist</servlet-name>
    <servlet-class>com.rz.assesslist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assesslist</servlet-name>
    <url-pattern>/admin/assesslist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>assesscheck</servlet-name>
    <servlet-class>com.rz.assesscheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assesscheck</servlet-name>
    <url-pattern>/admin/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkon</servlet-name>
    <servlet-class>com.rz.checkon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkon</servlet-name>
    <url-pattern>/admin/checkon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bookcheck</servlet-name>
    <servlet-class>com.rz.bookcheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookcheck</servlet-name>
    <url-pattern>/admin/bookcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkoff</servlet-name>
    <servlet-class>com.rz.checkoff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkoff</servlet-name>
    <url-pattern>/admin/checkoff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>assessdel</servlet-name>
    <servlet-class>com.rz.assessdel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assessdel</servlet-name>
    <url-pattern>/admin/assessdel</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>